:root {
  --color-light-gray: #ececec;
  --color-gray: #d8d8d8;
  --color-dark-gray: #3d3d3d;
  --color-highlight-gray: #969696;
  --color-code-gray: #dddddd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@media (min-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 14px;
  }
}

body {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  line-height: 1.6;
  color: var(--color-dark-gray);
  background: var(--color-light-gray);
}

/* Global */
.container {
  width: 90%;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: 2rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  padding-left: 3rem;
  margin-bottom: 1rem;
}

code {
  margin-bottom: 1rem;
}

/* Navbar */
#navbar {
  padding: 0 2rem;
}

@media (min-width: 768px) {
  #navbar {
    width: 30rem;
    position: fixed;
  }
}

#header {
  text-align: center;
  margin: 1rem 0;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar ul li:not(:last-child) {
  border-bottom: 0.05rem solid var(--color-gray);
}

.nav-link {
  display: block;
  padding: 0.5rem 3rem;
  transition: all 0.3s ease 0s;
}

.nav-link:hover {
  color: var(--color-highlight-gray);
}

/* Main */
@media (min-width: 768px) {
  main {
    margin-left: 30rem;
  }
}
